# Core functionality - changes here should be rare!
/src/app.py                   @nasrallahilyass
/src/backend/database.py      @nasrallahilyass
/src/backend/routers/auth.py  @nasrallahilyass

# The frontend will need refactored soon to be more object oriented.
/src/static/   @nasrallahilyass
